<!DOCTYPE html>
<html>
<head>
  <title>codeportfolio</title>
  <link rel="stylesheet" href="/styles/solarized_light.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <style>
    body {
      overflow-x:hidden;
      margin: 0;
    }
    .remove-highlight span, .remove-highlight{
      color: #93a1a1;
    }
    .container-fluid{
      padding: 0;
    }
  </style>
</head>
<body>
  <div id="app">
    <%- body %>
  </div>
  <script type="text/javascript" src="/javascripts/codeportfolio.js"></script>
</body>
</html>
