<!DOCTYPE html>
<html>
<head>
  <title>codeportfolio</title>
  <link rel="stylesheet" href="/styles/hybrid.css">
  <style>
    body, pre {
      margin: 0;
    }
  </style>
</head>
<body>
  <div id="app">
    <%- body %>
  </div>
  <script type="text/javascript" src="/javascripts/codeportfolio.js"></script>
</body>
</html>
