<!DOCTYPE html>
<html>
<head>
  <title>codeportfolio</title>
</head>
<body>
  <div id="app">
    <%- body %>
  </div>
  <script type="text/javascript" src="/javascripts/codeportfolio.js"></script>
</body>
</html>